:root {

   /* -----font-size------- */
   --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
   --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 0.19rem);
   --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
   --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
   --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
   --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
   --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
 
 }
 
*,
 ::after,
 ::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
 }


main {
   background: url(img-bg.jpg) no-repeat center center/cover;   
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

.calculator {
   background-color: rgba(3, 90, 83, 0.8);
   border-radius: 40px;
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: auto;
   max-width: 350px;
   height: auto;
   box-shadow: 10px 10px 10px  rgba(23, 117, 109, 0.5);
}

.screen {
	background-color: transparent;
   padding: 1.5rem;
   min-height: 140px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   text-align: right;
   color: #fcfaef;
   font-weight: 700;
}

.screen .display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
   gap: 0.8rem;
	width: 100%;
	max-width: 100%;
	overflow: auto;
   margin-bottom: -20px;
}

.screen .input {
	width: 100%;
	font-size: var(--font-size-md);
   font-weight: 300;
}

.screen .output {
	font-size: var(--font-size-xl);
	font-weight: 500;
	width: 100%;
	white-space: nowrap;
}

.keys {
   padding: 10px 30px 30px 30px;
   display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 2rem;
}

.keys .key {
   border-radius: 50%;
   background-color: #BDF906;
   box-shadow: 12px 6px 0px rgba(0, 0, 0, 0.5);
   border: none;
   margin: 0 auto;
   width: 50px;
   height: 50px;
   color: #fcfaef;
   font-size: var(--font-size-md);
   font-weight: 500;
   cursor: pointer;
   text-align: center;
   transition: .3s ease;
}

.keys .not-number {
   background-color: #D8E267;
}


.keys .key:hover {
   background-color: rgb(27, 112, 52);
   box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.5);
}

